[Desktop Entry]
Name=Flutter Folio
Comment=A scrapbooking app that feels great on all your devices
Exec=flutter_folio
Icon=${SNAP}/gui/flutter-folio.png
Terminal=false
Type=Application
Categories=Lifestyle
